In [1]:
import pandas as pd
import json

towre_sight_words = pd.read_excel('TOWRE2_sight_words.xlsx')

In [2]:
towre_sight_words.head()

   item_number orth primary_pron secondary_pron tertiary_pron
0            1   is         IH Z            NaN           NaN
1            2   up         AH P            NaN           NaN
2            3  cat       K AE T            NaN           NaN
3            4  red       R EH D            NaN           NaN
4            5   me         M IY            NaN           NaN

In [17]:
towre_sight_words_dict = {}

for i, row in towre_sight_words.iterrows():
    towre_sight_words_dict[row.orth] = row.primary_pron.split()


with open('TOWRE2_sight_words.json', 'w') as file:
    json.dump(towre_sight_words_dict, file, indent = 4)